body {
    color: black;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
}

h3 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    border-block-end-style: dotted;
}

h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    border-block-end-style: dotted;
    background-color: white;
    border-block-start-style: dotted;
}

h1 {
    text-align: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.pphdr {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main {
    text-align: center;
}

#Pics_of_travels {
    display: flex;
    justify-content: center;
    list-style: none;
}

#Pics_of_travels img {
    width: 11em;
    height: 15em;
    display: flex;
    justify-content: center;
    padding: 1em;
}

a {
    color: black;
    padding: 10px 30px;
    text-decoration-line: none;
}

a:hover {
    color: rgb(219, 243, 250);
}

a:visited {
    color: darkcyan;
}

article {
    text-align: center;
    background-color: rgb(236, 247, 250);
}

footer {
    background-color: black;
    text-align: center;
    color: whitesmoke;
    padding-left: auto;
    padding-right: auto;
}

ul {
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
}

#losgig {
    height: 25em;
}

#eiffelnight {
    height: 15em;
}

#calarom {
    height: 30em;
}

#pizza {
    height: 20em;
}

#cuevas {
    height: 25em;
}

#louv {
    height: 30em;
}

p {
    margin-left: 16%;
    margin-right: 16%;
    border-radius: 1em;
}

#fb {
    background-color: rgb(219, 243, 250);
    color: black;
    border-radius: 1em;
    font-size: small;
}

#insta {
    background-color: rgb(219, 243, 250);
    color: black;
    border-radius: 1em;
    font-size: small;
}

.pSM {
    background-color: black;
}

ul {
    font-size: medium;
    display: flex;
    justify-content: center;
    list-style: none;
}

form {
    text-align: left;
    display: grid;
    height: 20%;
    width: 30%;
    margin-left: 35%;
    padding-top: 5%;
}

input {
    background-color: rgb(219, 243, 250);
}